<?xml version="1.0"?>
<model>
  <name>Simple Mobile Manipulator</name>
  <version>1.0</version>
  <sdf version='1.5'>manipulator.sdf</sdf>

  <author>
    <name>Rego Grigorij</name>
    <email>regoGr@yandex.ru</email>
  </author>

  <description>
    My manipulator + mobile station
  </description>
</model>
